html {
  font-family: 'Lato', sans-serif;
}

body {
  text-align: center;
  margin = 50 auto;
  color: rgba(51, 51, 51, 1)
}

/* unvisited link */
a:link {
    color: rgba(153, 153, 153, 1);
    text-decoration: none;

    /* transitions */
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
}

a:visited {
    color: rgba(153, 153, 153, 1);
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: rgba(204, 70, 70, 1);
    text-decoration: none;
}

/* selected link */
a:active {
    color: rgba(204, 153, 153, 1);
    text-decoration: none;
}
